*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

@font-face{
    font-family:'urbanist';
    src:url('../font/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal italic;
    font-display: swap;
}

body, html{
   overflow-x: scroll; 
}
body{
    font-size: 20px;
    text-transform: capitalize;
     overflow: auto;
     font-family: 'urbanist', sans-serif;
}

header h1{
    background-color: rgb(28, 28, 194);
    width: 100%;
    text-align: center;
    color: white;
    padding: 25px;
    font-size: clamp(1.2rem, 4vw, 2rem);
}

.content{
    width: 100%;
    max-width: 80%;
    margin: 40px auto;
     /* overflow: auto; */
}
.input-task{
    display: flex;
    gap: 1.5em;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

input, select{
padding-left: 10px;
text-transform: capitalize;
border: 1px solid rgb(184, 171, 171);
border-radius: 7px;
}
 #input1{
    width:250px ;
    height: 43px;
}
#input2{
    width: 150px;
    height: 43px;
}
select{
    width: 150px;
    height:43px ;
}
#btn1{
    background: rgb(28, 28, 194);
    padding: 10px 16px;
    color: white;
    border-radius: 5px;
    border: none;
    align-self: center;
    font-size: 15px;
    font-weight: bold;
    transition: all .2s ease;
    border: none;
    box-shadow: 5px 8px 20px hsla(240, 100%, 50%, 0.2);
}

#btn1:hover{
    transform: scale(1.03);
    opacity:0.8;
}

.container{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
     overflow: auto;
}

.container .tasks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: repeat(1, auto);
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 6px;
    font-size: clamp(14px, 5vw, 18x);
    gap: 2em;
}

span{
    align-self: center;
}

.name{
    text-align: center;
}


.empty-message{
    text-align: center;
    font-size: 20px;
    color: rgb(218, 216, 216);
    font-weight: 550;
    padding-block: 70px;
}

.empty-input{
    text-align: center;
    color: red;
    font-size: 18px;
    padding:10px;
}
button{
    background-color: rgb(190, 38, 38);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    transition: all .2s ease;
}

button:hover{
    opacity: 0.8;
    transform: scale(1.03);
}

button:active{
    transform: scale(0.8);
    background-color: rgb(124, 19, 19);
}

@media (max-width:800px) {

    .content{
       max-width: 90%; 
    }
   .container .tasks{
    grid-template-columns:repeat(2, auto);
    justify-content: space-between;
    row-gap: 1em;
   }
}

@media (max-width:500px) {
     .container .tasks{
     grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(3, auto);
    row-gap: 1em;
   }

  .name{
    grid-column: 1/3;
    justify-self: center;
    
  } 
  
  .deadline{
    justify-self: end;
  }
  button{
    grid-column: 1/3;
    grid-row: 3/4;
    /* display: block; */
  }
} 
